html
  body
    //
      This template loads for the 'tab.friend-detail' state (app.js)
      'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
      The FriendsCtrl pulls data from the Friends service (service.js)
      The Friends service returns an array of friend data
    ion-view(title='{{friend.name}}')
      ion-content(has-header='true', padding='true')
        button.button.button-cole(ng-click='takePhoto()') Take Photo
        button.button.button-cole(ng-click='choosePhoto()') Choose Photo
        p {{note.created_on | date}}
        p Title: {{note.notetitle}}
        p {{note.notebody}}
        img(ng-repeat='photo in note.photo_links' ng-hide='photo === "none"', ng-src='{{photo}}')
